<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>List of Cars</title>
</head>
<body>
<div>
    <h1>List of Cars</h1>
    <button>
        <a href="{% url 'cars:car-create' %}">Add</a>
    </button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button>Update</button>
    <button style="display: none;">Save</button>

    <table>
        <thead>
        <tr>
            <th>Model</th>
            <th>Brand</th>
            <th>Main Color</th>
            <th>Value</th>
            <th>Production Cost</th>
            <th>Transportation Cost</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr data-car-id="{{ car.id }}">
                <td>{{ car.model }}</td>
                <td>{{ car.get_brand_display }}</td>
                <td>{{ car.get_main_color_display }}</td>
                <td>{{ car.value }}</td>
                <td>{{ car.production_cost }}</td>
                <td>{{ car.transportation_cost }}</td>
                <td>{{ car.total_cost }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>